Assignment: Retrieving Documents
This assignment focuses on using nearest neighbors and clustering to retrieve documents based on an analysis of their text. You will explore two types of document representations: word counts and term-frequency, inverse document frequency (TF-IDF). You will build a model for retrieving Wikipedia articles about famous people.

Learning outcomes
Load and transform real text data
Build a document retrieval model using nearest neighbor search
Compare results between using two approaches: word counts and TF-IDF
Set the distance function for the retrieval task
Instructions
There are three tasks in this assignment. There are several results you need to gather for the quiz that accompanies this module.

Task 1: Compare top words using word counts to those from TF-IDF
The video explored two document representations: word counts and TF-IDF. Let's apply these representations to the articles of a famous person, Elton John.

What are the 3 words in his articles with highest word counts?
What are the 3 words in his articles with highest TF-IDF?
As you can see, TF-IDF is useful for finding important words.

Save these results to answer the quiz for this module.

Task 2: Measure the distance between articles
Elton John is a famous singer. Compute the distance between his article and those of two other famous singers. Use the cosine distance, which is one measure of similarity between vectors and is similar to the one discussed in the lectures. You can compute cosine distance using the turicreate.distances.cosine function.

What’s the cosine distance between the articles on Elton John and Victoria Beckham?
What’s the cosine distance between the articles on Elton John and Paul McCartney? Which one of the two is closest to Elton John? Does this result make sense to you?
Save these results to answer the quiz for this module.

Task 3: Building nearest neighbors models with different input features and by setting the distance metric
In the video, Carlos built a nearest neighbors model for retrieving articles using TF-IDF as features and using the default setting in the construction of the nearest neighbors model.

You will build two nearest neighbors models:

Using word counts as features
Using TF-IDF as features
In both of these models, you will set the distance function to cosine similarity by calling the function turicreate.nearest_neighbors.create, and adding the parameter distance='cosine'.

Use your model to retrieve documents and collect the following results:

What’s the most similar article, other than itself, to the one on ‘Elton John’ using word count features?
What’s the most similar article, other than itself, to the one on ‘Elton John’ using TF-IDF features?
What’s the most similar article, other than itself, to the one on ‘Victoria Beckham’ using word count features?
What’s the most similar article, other than itself, to the one on ‘Victoria Beckham’ using TF-IDF features?
Save these results to answer the quiz for this module.

In [1]:
import turicreate

In [2]:
people = turicreate.SFrame('~/my-env/data/people_wiki.sframe')

In [3]:
people

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Task 1: Compare top words using word counts to those from TF-IDF

In [4]:
john = people[people['name'] == 'Elton John']

In [5]:
john

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [6]:
john['word_count'] = turicreate.text_analytics.count_words(john['text'])

In [7]:
john['word_count']

dtype: dict
Rows: 1
[{'social': 1.0, 'champion': 1.0, 'be': 1.0, '2014': 1.0, 'legal': 1.0, 'became': 1.0, '2005': 1.0, 'december': 2.0, '21': 2.0, 'furnish': 2.0, 'david': 1.0, 'civil': 1.0, 'gay': 2.0, 'who': 1.0, '200': 1.0, 'raised': 1.0, 'industry': 1.0, 'film': 1.0, 'parties': 1.0, 'oscar': 1.0, 'partnership': 1.0, 'highestprofile': 1.0, 'which': 1.0, 'hosting': 1.0, 'later': 1.0, 'foundation': 2.0, 'established': 1.0, '1988': 1.0, '1992': 1.0, '1980s': 1.0, 'against': 1.0, 'fight': 1.0, 'heavily': 1.0, 'marriage': 2.0, '2012he': 1.0, 'buckingham': 1.0, 'outside': 1.0, 'and': 15.0, 'queens': 1.0, 'at': 4.0, '10': 1.0, '2002': 1.0, 'palace': 2.0, 'abbey': 1.0, 'hall': 2.0, 'royal': 1.0, 'services': 2.0, '1998': 1.0, 'charitable': 1.0, 'ii': 1.0, 'elizabeth': 1.0, 'empire': 1.0, 'year': 1.0, 'commander': 1.0, 'westminster': 1.0, '1996': 1.0, 'single': 2.0, 'named': 1.0, 'been': 3.0, 'songwriters': 2.0, '100': 3.0, '1994': 1.0, 'into': 3.0, 'overallelton': 1.0, 'wed': 1.0, 'male': 1.0, 'you': 1.0, 'having': 1.0, 'a': 10.0, 'successful': 1.0, 'rock': 2.0, 'musicians': 1.0, 'continues': 1.0, 'its': 2.0, 'stone': 1.0, 'diana': 1.0, 'rolling': 1.0, 'bisexual': 1.0, 'hits': 1.0, 'influential': 1.0, 'over': 2.0, 'honors': 1.0, 'legend': 1.0, 'center': 1.0, 'tony': 1.0, 'culture': 1.0, 'concert': 1.0, 'globe': 1.0, 'academy': 3.0, 'british': 3.0, 'in': 18.0, '2013': 1.0, 'alltime': 1.0, 'after': 1.0, 'bernie': 1.0, 'icon': 1.0, 'producer': 1.0, '49': 1.0, 'brits': 1.0, 'inductee': 1.0, 'contribution': 1.0, 'outstanding': 1.0, 'cbe': 1.0, 'about': 1.0, 'winning': 1.0, 'disney': 1.0, 'five': 1.0, 'become': 1.0, 'performed': 1.0, 'late': 1.0, 'lasting': 1.0, 'awards': 3.0, 'english': 1.0, 'artist': 1.0, 'six': 1.0, 'time': 1.0, 'all': 1.0, 'copies': 1.0, 'order': 1.0, '1997': 2.0, 'albums': 2.0, 'wind': 1.0, 'way': 1.0, 'england': 1.0, 'something': 1.0, 'jubilee': 1.0, 'had': 1.0, 'announced': 1.0, 'knighthood': 1.0, 'singles': 1.0, 'authors': 1.0, 'consecutive': 2.0, 'hollywood': 1.0, '19702000': 1.0, 'years': 1.0, 'making': 1.0, 'for': 5.0, 'including': 1.0, 'nine': 1.0, '27': 1.0, 'his': 4.0, 'list': 1.0, 'billboard': 4.0, '58': 1.0, 'worked': 1.0, 'worldwide': 2.0, 'john': 7.0, '1': 2.0, 'composer': 1.0, 'seven': 1.0, 'an': 3.0, 'fivedecade': 1.0, 'us': 1.0, 'no': 3.0, 'two': 1.0, '33': 1.0, 'they': 1.0, '40': 2.0, 'more': 3.0, 'top': 4.0, 'inception': 1.0, 'events': 1.0, 'world': 1.0, 'taupin': 1.0, 'tonightcandle': 1.0, 'first': 1.0, '2004': 2.0, 'kennedy': 1.0, 'began': 1.0, 'on': 6.0, '2': 1.0, 'movements': 1.0, 'four': 1.0, 'ranked': 2.0, 'music': 3.0, 'annual': 1.0, 'received': 2.0, 'of': 13.0, 'aids': 2.0, 'diamond': 1.0, 'one': 3.0, 'fifty': 1.0, 'him': 3.0, 'pianist': 1.0, 'song': 1.0, 'records': 1.0, '31': 1.0, 'roll': 2.0, 'involved': 1.0, 'hot': 2.0, 'career': 1.0, 'million': 3.0, 'brit': 1.0, 'bestselling': 2.0, 'born': 1.0, 'lyricist': 1.0, 'from': 1.0, 'fellow': 1.0, '2008': 1.0, '1976': 1.0, 'is': 4.0, '30': 1.0, 'than': 3.0, 'inducted': 1.0, 'to': 4.0, 'openly': 1.0, 'composers': 1.0, 'artists': 2.0, 'fame': 2.0, 'number': 2.0, 'since': 5.0, 'partner': 1.0, 'least': 1.0, 'samesex': 1.0, 'elton': 3.0, 'as': 2.0, 'look': 1.0, 'funeral': 1.0, 'has': 9.0, 'such': 1.0, '25': 1.0, 'princess': 1.0, 'era': 1.0, 'occasional': 1.0, 'datein': 1.0, 'singer': 1.0, 'impact': 1.0, 'record': 1.0, 'kenneth': 1.0, 'he': 7.0, 'solo': 1.0, 'hercules': 1.0, 'dwight': 1.0, 'with': 2.0, 'third': 1.0, 'entered': 1.0, 'most': 1.0, 'collaborated': 1.0, 'party': 2.0, '1967': 1.0, 'songwriter': 2.0, '300': 1.0, 'lgbt': 1.0, 'grammy': 1.0, 'actor': 1.0, 'reginald': 1.0, '1947': 1.0, 'golden': 1.0, 'sir': 1.0, 'march': 1.0, 'have': 1.0, 'sold': 2.0, 'the': 27.0, 'was': 2.0, 'award': 5.0}]

## Find most common words in John article

In [8]:
john.stack('word_count',new_column_name=['word','count'])

Columns:
	URI	str
	name	str
	text	str
	word	str
	count	float

Rows: 255

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+----------+-------+
|   word   | count |
+----------+-------+
|  social  |  1.0  |
| champion |  1.0  |
|    be    |  1.0  |
|   2014   |  1.0  |
|  legal   |  1.0  |
|  became  |  1.0  |
|   2005   |  1.0  |
| december |  2.0  |
|    21    |  2.0  |
| furnish  |  2.0  |
+----------+-------+
[255 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [9]:
john_word_count_table = john[['word_count']].stack('word_count', new_column_name = ['word','count'])

In [10]:
john_word_count_table

Columns:
	word	str
	count	float

Rows: 255

Data:
+----------+-------+
|   word   | count |
+----------+-------+
|  social  |  1.0  |
| champion |  1.0  |
|    be    |  1.0  |
|   2014   |  1.0  |
|  legal   |  1.0  |
|  became  |  1.0  |
|   2005   |  1.0  |
| december |  2.0  |
|    21    |  2.0  |
| furnish  |  2.0  |
+----------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [11]:
john_word_count_table.sort('count',ascending=False)

Columns:
	word	str
	count	float

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |  27.0 |
|   in  |  18.0 |
|  and  |  15.0 |
|   of  |  13.0 |
|   a   |  10.0 |
|  has  |  9.0  |
|  john |  7.0  |
|   he  |  7.0  |
|   on  |  6.0  |
| award |  5.0  |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## the, in, and, of, a are the most common using wordcount

# Compute TF-IDF for the entire corpus of articles

In [12]:
people['word_count'] = turicreate.text_analytics.count_words(people['text'])

In [13]:
people['tfidf'] = turicreate.text_analytics.tf_idf(people['text'])

In [14]:
people

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1.0, 'colleg... |
| alfred j lewy aka sandy le... | {'time': 1.0, 'each': 1.0,... |
| harpdog brown is a singer ... | {'time': 1.0, 'honored': 1... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1.0, '... |
| henry krvits born 30 decem... | {'curtis': 1.0, 'promo': 1... |
| sam henderson born october... | {'journal': 1.0, 'niblit':... |
| aaron lacrate is an americ... | {'including': 1.0, 'artist... |
| trevor ferguson aka john f... | {'concordia': 1.0, 'creati... |
| grant nelson born 27 april... | {'knuckles': 1.0, 'simply'... |
| cathy caruth born 1955 is ... | {'n3': 1.0, '2002': 1.0, '... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'melbourne': 3.8914310119... |
| {'time': 1.325334207420049... |
| {'time': 1.325334207420049... |
| {'kurdlawitzpreis': 10.986... |
| {'curtis': 5.2995200328853... |
| {'journal': 3.025473923341... |
| {'including': 1.2272824458... |
| {'concordia': 6.2502969408... |
| {'knuckles': 8.04205641005... |
| {'n3': 10.293348208665249,... |
+-------------------------------+
[59071 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Examine the TF-IDF for the John article

In [19]:
john = people[people['name'] == 'Elton John']
john[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+--------------------+
|      word     |       tfidf        |
+---------------+--------------------+
|    furnish    | 18.38947183999428  |
|     elton     | 17.482320270031995 |
|   billboard   | 17.30368095754203  |
|      john     | 13.93931279239831  |
|  songwriters  | 11.250406447031539 |
| tonightcandle | 10.986495389225194 |
|  overallelton | 10.986495389225194 |
|    19702000   | 10.293348208665249 |
|   fivedecade  | 10.293348208665249 |
|      aids     | 10.262846934045534 |
+---------------+--------------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## 3 most common words from TF-IDF is furnish, elton, billboard

# Task 2: Measure the distance between articles

In [16]:
beckham = people[ people['name']=='Victoria Beckham']

In [17]:
beckham['tfidf'][0]

{'new': 0.8871532656125274,
 'biannual': 7.552508184740048,
 'ticket': 5.142950972193835,
 'clamour': 9.887883100557085,
 'scathing': 7.990763115671204,
 'celebrity': 4.564873121418676,
 'significant': 3.7624705809393637,
 'saying': 4.093853748053105,
 'most': 1.4186204428983973,
 'show': 2.1689013529494012,
 'successful': 2.679282762596886,
 'wag': 8.789270811888976,
 'that': 0.6614069466714981,
 'belinda': 7.202305755306933,
 'won': 1.3836400683164753,
 'business': 2.3749015223874728,
 'familys': 5.421974981902501,
 'performer': 4.073752568732018,
 'daily': 3.536415819417696,
 'star': 2.9854754279015427,
 'assessed': 6.9975113426609195,
 '2012': 1.7938099524877322,
 'year': 1.3423616371539895,
 'brand': 8.994580915799753,
 'named': 2.0300155412252816,
 '2011': 5.107041270312875,
 'diffusion': 7.1363477875151355,
 'label': 9.90513433710723,
 'eponymous': 5.810345656651365,
 'other': 1.4424007566948476,
 'collaborations': 4.808551275174594,
 'highprofile': 5.38807343022682,
 'following': 3.9218391113882123,
 'interests': 3.804903444613329,
 'icon': 5.433535804303577,
 'style': 3.202022153488725,
 'become': 2.4964678658817263,
 'noted': 3.443222042519748,
 'decade': 3.9816133995123346,
 'past': 3.272264244376109,
 'millionin': 7.728398851203712,
 'estimated': 5.205751873432865,
 'writing': 2.61409678271219,
 'wealth': 5.457066301713771,
 'joint': 3.769051957528662,
 'children': 2.4252853123921825,
 'they': 1.8993401178193898,
 'launched': 3.594463821710603,
 'recognised': 4.997533972335331,
 'american': 1.1273777844250068,
 'transition': 4.721194176487485,
 'participated': 3.2647036124076587,
 'mind': 4.374454354392102,
 'betty': 5.552773385670955,
 'topmodel': 9.600201028105303,
 'predicted': 6.259107570512853,
 'guest': 3.134445181959305,
 'magazine': 2.456583425401182,
 'germanys': 5.936639381975657,
 'judge': 3.466802985108655,
 'david': 2.4512658353228582,
 'born': 0.268196273764765,
 'english': 2.239461125047026,
 'next': 2.670439668860552,
 'have': 1.4416847832984716,
 'runway': 6.532148092971687,
 'chartbeckham': 10.986495389225194,
 'been': 1.954954670959205,
 'cameo': 5.6393878585077255,
 'idol': 5.240292198685041,
 'a': 0.02809592236291573,
 'number': 2.12302108305424,
 'fame': 3.0071564939628668,
 'since': 1.455376717308041,
 'for': 0.07286252934328691,
 'america': 2.5998665678300736,
 'from': 0.29375533798563447,
 '2008': 1.5093391374786154,
 'coming': 3.7624705809393637,
 'beckhams': 9.19473591999714,
 'episode': 3.8125370694684007,
 'real': 3.3707043171893614,
 'including': 1.2272824458461182,
 'about': 1.9265128988375737,
 'reality': 4.213415013569659,
 'five': 2.2137301792754096,
 'over': 1.4878231559557336,
 'brands': 5.355283607403829,
 'beckham': 56.922355026538426,
 'reached': 3.500442771362054,
 'pack': 5.868501576808439,
 'allfemale': 7.460134864609033,
 'release': 2.9982917922026187,
 'an': 1.1929563563275885,
 'in': 0.01158487620145739,
 'first': 0.6956048713993103,
 'appearance': 3.3277958309568954,
 'singles': 7.4745606642216105,
 'being': 1.7938099524877322,
 'than': 2.0650378102773113,
 'victoria': 15.766361088383295,
 '10': 2.3157231098806563,
 'out': 1.8484031814566355,
 'uk': 8.371829993731193,
 'model': 3.5981675296480873,
 'had': 3.5322852369256745,
 'telstar': 8.683910296231149,
 'married': 2.327976261718522,
 'records': 5.35708568790835,
 'virgin': 5.292763250422495,
 'white': 3.1974549875677174,
 'made': 1.519886215502974,
 'gathered': 5.956057467832759,
 'signed': 2.5176524587500038,
 'april': 1.9892244829917467,
 'after': 0.9443334420013064,
 'your': 3.7127090713802997,
 'documentaries': 4.476237048702044,
 '1996': 2.135691193468776,
 'late': 2.374355720500003,
 'the': 0.0019299790089043535,
 'pops': 6.1907048436284535,
 'internationally': 3.60748726159689,
 'designer': 15.619147212478477,
 'on': 0.18441275335060037,
 '2': 2.2482408126990716,
 'who': 0.9098952189804214,
 'group': 1.9855189451548496,
 'four': 3.844212145466632,
 'music': 1.7927926584020348,
 'split': 4.1599501656686,
 'of': 0.024937057194669147,
 'posh': 7.728398851203712,
 'spice': 19.928069902114533,
 'by': 0.37455341206197373,
 'project': 2.6446084197090065,
 'york': 1.701047544762206,
 'pop': 3.5913878426627086,
 'more': 1.673778950632145,
 'top': 4.5481288314969115,
 '17': 2.7543211528412543,
 'with': 0.40493728504412135,
 'july': 1.9428000946579587,
 '2014': 2.2073995783446634,
 'official': 3.1501256286800703,
 'week': 3.57252509903475,
 'now': 1.96695239252401,
 'was': 0.31746314244873386,
 'at': 0.43063857330825733,
 'to': 0.2816696260907954,
 'is': 0.08284875142655997,
 'couples': 5.956057467832759,
 'rose': 3.7120158304513233,
 '1990s': 3.1109960967799863,
 'british': 2.238031759283139,
 'issue': 3.92773723670653,
 'and': 0.008941726776584738,
 'dubbed': 5.054250201777184,
 'as': 0.2543390440248236,
 'businesswoman': 6.158181651922893,
 'fashion': 21.165287353137074,
 '380': 7.654290879049991,
 'her': 4.650646135898402,
 'she': 7.909936190856877,
 'singer': 2.7818235602743835,
 'ugly': 6.486685718894929,
 'adams': 4.870603263742161,
 'caroline': 5.67822769182399,
 '1974': 2.77067759739274,
 'lowerpriced': 10.986495389225194,
 'has': 1.713990158976156,
 'girls': 7.972321857899928,
 'telegraph': 5.202670206895457,
 'shows': 2.8354504435401706,
 'ne': 4.553555296486015}

In [20]:
john['tfidf'][0]

{'social': 2.6226865047083137,
 'champion': 3.176548302748404,
 'be': 1.4062480045415613,
 '2014': 2.2073995783446634,
 'legal': 3.4243337579995425,
 'became': 1.3300599330549516,
 '2005': 1.6425861253275964,
 'december': 4.00285165915879,
 '21': 5.594501726978586,
 'furnish': 18.38947183999428,
 'david': 2.4512658353228582,
 'civil': 3.3244978303233013,
 'gay': 8.685411312155043,
 'who': 0.9098952189804214,
 '200': 3.8524016680323285,
 'raised': 3.059531844362216,
 'industry': 2.9570625486439512,
 'film': 2.033113917057952,
 'parties': 4.495771854722687,
 'oscar': 4.781937626656504,
 'partnership': 4.1599501656686,
 'highestprofile': 8.789270811888976,
 'which': 0.7674309670437692,
 'hosting': 4.806478735572622,
 'later': 1.4294496043477696,
 'foundation': 5.428871534029564,
 'established': 3.0759047769687164,
 '1988': 2.4491074905234376,
 '1992': 2.278351314316948,
 '1980s': 2.9688582293167167,
 'against': 2.0079609791418744,
 'fight': 4.274754994169014,
 'heavily': 4.584578192498009,
 'marriage': 8.230808189229297,
 '2012he': 6.27696518791286,
 'buckingham': 6.6170475367581725,
 'outside': 3.6528189935675104,
 'and': 0.011177158470730924,
 'queens': 4.023305403354957,
 'at': 0.8612771466165147,
 '10': 2.3157231098806563,
 '2002': 1.8753125887822302,
 'palace': 9.813124388259208,
 'abbey': 5.693190564500702,
 'hall': 5.270713564278079,
 'royal': 2.8056144472288045,
 'services': 6.037737299782756,
 '1998': 2.0687826320938068,
 'charitable': 5.038460400044548,
 'ii': 3.3077063910260405,
 'elizabeth': 4.044338683525725,
 'empire': 4.3624301614253005,
 'year': 1.3423616371539895,
 'commander': 4.099963746694684,
 'westminster': 5.272762583715825,
 '1996': 2.135691193468776,
 'single': 5.774489654856468,
 'named': 2.0300155412252816,
 'been': 2.932432006438807,
 'songwriters': 11.250406447031539,
 '100': 8.922437249692202,
 '1994': 2.2375557576874794,
 'into': 4.815188827219817,
 'overallelton': 10.986495389225194,
 'wed': 6.908957945319475,
 'male': 4.378494763929107,
 'you': 2.914652239616036,
 'having': 2.448323791423765,
 'a': 0.05619184472583146,
 'successful': 2.679282762596886,
 'rock': 5.886949007853824,
 'musicians': 3.5587565486923007,
 'continues': 3.3444509863519367,
 'its': 3.3751896805390627,
 'stone': 4.332342869041976,
 'diana': 5.3955084087143375,
 'rolling': 4.8401661315562965,
 'bisexual': 6.7238155121838785,
 'hits': 3.7189699613970224,
 'influential': 3.738702807457348,
 'over': 2.975646311911467,
 'honors': 3.7995943688135627,
 'legend': 4.464402591055042,
 'center': 2.378000039402171,
 'tony': 3.6043710234876816,
 'culture': 3.1328905761273576,
 'concert': 3.5032509731513444,
 'globe': 4.144879912747602,
 'academy': 7.06577844530489,
 'british': 6.714095277849417,
 'in': 0.017377314302186087,
 '2013': 1.9545642372230505,
 'alltime': 4.393450855082757,
 'after': 0.9443334420013064,
 'bernie': 6.016682089649193,
 'icon': 5.433535804303577,
 'producer': 2.6157162162644934,
 '49': 5.309741586956912,
 'brits': 8.421546031763658,
 'inductee': 6.2951475069960505,
 'contribution': 3.9980822072256026,
 'outstanding': 3.383594927020439,
 'cbe': 5.249923091746003,
 'about': 1.9265128988375737,
 'winning': 2.416330313042851,
 'disney': 4.706099550264999,
 'five': 2.2137301792754096,
 'become': 2.4964678658817263,
 'performed': 2.5307521601251795,
 'late': 2.374355720500003,
 'lasting': 5.905091024240731,
 'awards': 6.8519553961056126,
 'english': 2.239461125047026,
 'artist': 2.4318137533979653,
 'six': 2.4538226269605703,
 'time': 1.3253342074200498,
 'all': 1.6431112434912472,
 'copies': 4.500334600281105,
 'order': 2.8044952529317895,
 '1997': 4.259668904415891,
 'albums': 6.041205308281332,
 'wind': 4.86181199833099,
 'way': 2.9688582293167167,
 'england': 2.646755623206051,
 'something': 4.272324859315723,
 'jubilee': 5.648957309523876,
 'had': 1.177428412308558,
 'announced': 2.7377046555287814,
 'knighthood': 6.9975113426609195,
 'singles': 3.7372803321108052,
 'authors': 4.320811671442786,
 'consecutive': 7.543981950148101,
 'hollywood': 3.902268967127278,
 '19702000': 10.293348208665249,
 'years': 1.0752380994247055,
 'making': 2.7223896254962385,
 'for': 0.36431264671643454,
 'including': 1.2272824458461182,
 'nine': 3.2624907325491286,
 '27': 3.110616229728885,
 'his': 1.0504458208546292,
 'list': 3.1286278298933916,
 'billboard': 17.30368095754203,
 '58': 5.437419304329975,
 'worked': 1.553891853362109,
 'worldwide': 7.008752931346158,
 'john': 13.93931279239831,
 '1': 4.195753163848633,
 'composer': 3.2290166226410153,
 'seven': 2.7917137507818355,
 'an': 0.8947172672456913,
 'fivedecade': 10.293348208665249,
 'us': 1.9319904488071395,
 'no': 7.1892706571891525,
 'two': 1.0988831858473562,
 '33': 4.654993539331503,
 'they': 1.8993401178193898,
 '40': 6.981906890681876,
 'more': 5.021336851896435,
 'top': 9.096257662993823,
 'inception': 5.391784009623355,
 'events': 3.0624230643017776,
 'world': 1.370623244696304,
 'taupin': 9.600201028105303,
 'tonightcandle': 10.986495389225194,
 'first': 0.6956048713993103,
 '2004': 3.3806887216718016,
 'kennedy': 4.279633052622447,
 'began': 1.727460095710253,
 'on': 1.1064765201036022,
 '2': 2.2482408126990716,
 'movements': 5.030658019760364,
 'four': 1.922106072733316,
 'ranked': 7.642003828328697,
 'music': 5.378377975206105,
 'annual': 3.434258101664393,
 'received': 3.0793219631333275,
 'of': 0.05403029058844982,
 'aids': 10.262846934045534,
 'diamond': 5.028070696195412,
 'one': 2.79279220142615,
 'fifty': 5.11719847609142,
 'him': 4.726752980361581,
 'pianist': 4.07474808897352,
 'song': 2.869182927623221,
 'records': 2.678542843954175,
 '31': 3.294838566414648,
 'roll': 9.162533862388706,
 'involved': 2.674114792438443,
 'hot': 8.195845859319663,
 'career': 1.3050270203415668,
 'million': 9.053489066276878,
 'brit': 6.391375539090604,
 'bestselling': 9.189156551665185,
 'born': 0.268196273764765,
 'lyricist': 5.644161137260383,
 'from': 0.29375533798563447,
 'fellow': 2.364041687151464,
 '2008': 1.5093391374786154,
 '1976': 2.71622627778857,
 'is': 0.11046500190207996,
 '30': 2.6266580085851636,
 'than': 6.195113430831934,
 'inducted': 3.6213152632041816,
 'to': 0.1877797507271969,
 'openly': 5.056906245835299,
 'composers': 4.295653111806631,
 'artists': 5.450454477295092,
 'fame': 6.0143129879257335,
 'number': 4.24604216610848,
 'since': 7.276883586540205,
 'partner': 3.4248536436364145,
 'least': 4.251903729252247,
 'samesex': 5.89889905399281,
 'elton': 17.482320270031995,
 'as': 0.2543390440248236,
 'look': 4.303134443458919,
 'funeral': 5.911321573991367,
 'has': 3.8564778576963508,
 'such': 1.763337513538397,
 '25': 2.7469019349192254,
 'princess': 5.038460400044548,
 'era': 3.7913080690464858,
 'occasional': 4.771887290803003,
 'datein': 8.153282045168979,
 'singer': 2.7818235602743835,
 'impact': 4.04144432549936,
 'record': 2.1528869065343033,
 'kenneth': 4.798231266142604,
 'he': 1.493579903611068,
 'solo': 2.838628259301248,
 'hercules': 7.322933743095548,
 'dwight': 6.44320060695519,
 'with': 0.40493728504412135,
 'third': 2.3506306680914584,
 'entered': 3.3434917536644764,
 'most': 1.4186204428983973,
 'collaborated': 3.761741983457223,
 'party': 4.708022306948445,
 '1967': 3.01368460510379,
 'songwriter': 7.349218450296059,
 '300': 4.553555296486015,
 'lgbt': 5.5883326877074415,
 'grammy': 4.085764725180022,
 'actor': 2.958040225110943,
 'reginald': 6.781802769834228,
 '1947': 3.756656611073944,
 'golden': 3.618155702913813,
 'sir': 3.956522477518808,
 'march': 1.9573172463231197,
 'have': 1.4416847832984716,
 'sold': 6.702383005931559,
 'the': 0.0027426017494956603,
 'was': 0.15873157122436693,
 'award': 8.161139242211844}

In [21]:
mcCartney=people[people['name']== 'Paul McCartney']

In [22]:
turicreate.distances.cosine(john['tfidf'][0],beckham['tfidf'][0])

0.9567006376655429

In [23]:
turicreate.distances.cosine(john['tfidf'][0],mcCartney['tfidf'][0])

0.8250310029221779

## Shorter distance with Paul McCartney

# Task 3: Building nearest neighbors models with different input features and by setting the distance metric

# Apply nearest neighbors for retrieval of Wikipedia articles

## Build the NN model with word counts

In [25]:
word_count_knn_model = turicreate.nearest_neighbors.create(people,features=['word_count'],label='name', distance='cosine')

Starting brute force nearest neighbors model training.

In [26]:
tfidf_knn_model = turicreate.nearest_neighbors.create(people,features=['tfidf'],label='name', distance='cosine')

Starting brute force nearest neighbors model training.

## What’s the most similar article, other than itself, to the one on ‘Elton John’ using word count features?  = Cliff Richard

In [28]:
word_count_knn_model.query(john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 10.575ms     |

| Done         |         | 100         | 152.691ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-----------------------+------+
| query_label |  reference_label  |        distance       | rank |
+-------------+-------------------+-----------------------+------+
|      0      |     Elton John    | 2.220446049250313e-16 |  1   |
|      0      |   Cliff Richard   |  0.16142415258967036  |  2   |
|      0      |   Sandro Petrone  |  0.16822542751041114  |  3   |
|      0      |    Rod Stewart    |  0.16832716558706107  |  4   |
|      0      | Malachi O'Doherty |   0.177315545978884   |  5   |
+-------------+-------------------+-----------------------+------+
[5 rows x 4 columns]

## What’s the most similar article, other than itself, to the one on ‘Elton John’ using TF-IDF features? : Rod Stewart

In [29]:
tfidf_knn_model.query(john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 14.696ms     |

| Done         |         | 100         | 161.188ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+------------------------+------+
| query_label | reference_label  |        distance        | rank |
+-------------+------------------+------------------------+------+
|      0      |    Elton John    | -2.220446049250313e-16 |  1   |
|      0      |   Rod Stewart    |   0.7172196678927374   |  2   |
|      0      |  George Michael  |   0.7476009989692847   |  3   |
|      0      | Sting (musician) |   0.7476719544306141   |  4   |
|      0      |   Phil Collins   |   0.7511932487904706   |  5   |
+-------------+------------------+------------------------+------+
[5 rows x 4 columns]

## What’s the most similar article, other than itself, to the one on ‘Victoria Beckham’ using word count features? : Mary Fitzgerald

In [30]:
word_count_knn_model.query(beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 9.101ms      |

| Done         |         | 100         | 116.595ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+------------------------+------+
| query_label |     reference_label      |        distance        | rank |
+-------------+--------------------------+------------------------+------+
|      0      |     Victoria Beckham     | -2.220446049250313e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |  0.20730703611504997   |  2   |
|      0      |      Adrienne Corri      |  0.21450978278754795   |  3   |
|      0      |     Beverly Jane Fry     |  0.21746646874079278   |  4   |
|      0      |      Raman Mundair       |  0.21769547499150488   |  5   |
+-------------+--------------------------+------------------------+------+
[5 rows x 4 columns]

##  What’s the most similar article, other than itself, to the one on ‘Victoria Beckham’ using TF-IDF features? David Beckham

In [31]:
tfidf_knn_model.query(beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 10.01ms      |

| Done         |         | 100         | 160.917ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+------------------------+------+
| query_label |   reference_label   |        distance        | rank |
+-------------+---------------------+------------------------+------+
|      0      |   Victoria Beckham  | 1.1102230246251565e-16 |  1   |
|      0      |    David Beckham    |   0.5481696102632145   |  2   |
|      0      | Stephen Dow Beckham |   0.7849867068283364   |  3   |
|      0      |        Mel B        |   0.8095855234085036   |  4   |
|      0      |    Caroline Rush    |    0.81982642291868    |  5   |
+-------------+---------------------+------------------------+------+
[5 rows x 4 columns]